#numbers{
    font-size: 36px;
    text-align: center;
}

h1, h2, div{
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: aliceblue;
}

#numbersection {
    width: 600px;

}

#box{
 display: flex;
 justify-content: center;
 
}

body {
    background-color: black;
}
h1,div {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: white;
    font-family: cursive;
}

.number{
    background-color: rgb(215, 88, 88);
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 20px;
    height: 50px;
}

.number.stopped{
    background-color: green;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 20px;
    height: 50px;
}
.number.unstopped{
    color: rgb(215, 88, 88);
}
#restart{
    background-color: rgb(215, 88, 88);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}