#numbers{
    font-size: 36px;
    text-align: center;
}

h1, h2, div{
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: aliceblue;
}

#numbersection {
    width: 600px;
    border: 1px solid red;
}

#box{
 display: flex;
 justify-content: center;
 
}

body {
    background-color: white;
}
h1,div {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: blue;
    font-family: cursive;
}